.example-content {
  text-align: center;
  margin-top: 100px;
}
.lorem-content {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

#open-modal-button {
  border: 1px solid #2327be;
  background-color: #2327be;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
}

#open-modal-button:hover {
  border: 1px solid #2327be;
  padding: 10px 30px;
  color: #2327be;
  border-radius: 5px;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .lorem-content div {
    width: 35%;
  }
}
